/* 기본 세팅 */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}
body {
  margin: 0;
  overflow: hidden;
}

/* 화면 정중앙 배치 */
.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 14vh 16px 6vh;
  gap: 24px;
  min-height: 100%;
}

/* 로고+캐릭터 묶음 */
.logo-wrap {
  position: relative;
  width: clamp(280px, 38vw, 420px);
  margin-bottom: 17vh;
  margin-top: 27vh;
  margin-inline: auto;
}

/* 로고 */
.index-logo {
  width: 100%;
  /* width: clamp(280px, 45vw, 320px); */
  aspect-ratio: 288 / 82;
  background: url('./image/index-logo.png') center/contain no-repeat;
}

/* 캐릭터(로고 기준 비율 위치) */
.index-char {
  position: absolute;
  top: -18%;
  right: -8%;
  transform: translate(10%, -45%);
  width: clamp(40px, 8vw, 66px);
  aspect-ratio: 66 / 89;
  background: url('./image/index-char.png') center/contain no-repeat;
}

/* 버튼 묶음 */
.button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* 버튼 간격 */
  margin-top: 30px; /* 로고에서 버튼까지의 여백  */
  padding-bottom: 8vh; /* 바닥에서 얼마나 띄우기 */
}

.kakao-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 60px;
  background: #fee500;
  border-radius: 15px;
  border: 0;
  font-weight: 550;
  font-size: clamp(14px, 1.05rem, 18px);
  cursor: pointer;
  color: #111;
  user-select: none;
}
.kakao-btn:hover {
  background: #fad73e;
}
.kakao-icon {
  width: 22px;
  height: 22px;
  color: inherit;
}

/* .kakao-btn:hover,
.kakao-btn:focus,
.kakao-btn:active {
  color: #111;
} */

.admin-login {
  font-size: 0.9rem;
  color: #949393;
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* 바깥 여백 색 */
.viewport {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #fef2f2;
}

/* 가운데 폰 화면 */
.app {
  width: min(100%, 480px); /* 가운데 나타날 화면 가로 */
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100%;
}

/* 미세 조정 */
@media (min-width: 1025px) {
  .logo-wrap {
    width: 300px;
    width: clamp(340px, 22%, 340px);
    margin-bottom: 20vh;
  }
  .index-char {
    top: -43%;
    right: 24%;
    width: clamp(60px, 22%, 90px);
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .logo-wrap {
    width: 300px;
    width: clamp(340px, 22%, 340px);
    margin-bottom: 21vh;
  }
  .index-char {
    top: -45%;
    right: 23%;
    width: clamp(58px, 22%, 80px);
  }
}

@media (max-width: 599px) {
  .kakao-btn {
    height: 60px;
  }
  .logo-wrap {
    width: 300px;
    width: clamp(348px, 22%, 340px);
    margin-bottom: 20vh;
  }
  .index-char {
    top: -50%;
    right: 20%;
    width: clamp(60px, 22%, 96px);
  }
  .app {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
